/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
body{line-height:1;min-width: 530px}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
figure{margin:0;}
hr,button,input,textarea{margin:0;padding:0;}
button,input,select,textarea{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #979797;}
a:focus{outline: none;-moz-outline-style: none;}
*:focus {outline: none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
/* font */
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
code,kbd,pre,samp{font-family:courier,monospace;}

/* generic */
input[type=submit]{cursor:pointer;}
button{cursor:pointer;}
strong, b{font-weight:bold;}
pre{margin: 10px;border: 1px dotted #ccc;padding: 10px;background: #f6f6f6;overflow: auto;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*+height:1%;} 

/* custom */
.header{padding: 10px;}
.header .right{float: right;display: none}
.header .left{float: left;padding-left: 80px;}
.head-img{float: left;margin-left: -80px;display: inline; border: 3px solid #cbcbcb;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;vertical-align: text-top;}
.header h4{font-size: 14px;color: #979797;padding: 0px;margin: 0px;}
.search{margin: 20px 20px 0px 0px}
.search input{border: 1px solid #cbcbcb;border-radius: 15px;-moz-border-radius: 15px;-webkit-border-radius: 15px;padding:2px 5px;}
.contect{line-height: 23px;}
.posts{list-style: none;margin: 0px;padding: 0px;}
.post-title{height: 25px;line-height: 25px;background: #cce8cf;color: #656d66;font-weight: normal;}
.post-title span{display: block;height:25px;float:left;padding:0px 10px;margin-right: 10px; text-align: center;color: #fff; background: #4db358;}
.post-title a{display: block;height:25px;float:left;padding:0px 10px;text-align: center;color: #fff; background: #1b8126;}
.page-title{height: 25px;line-height: 25px;background: #cce8cf;color: #656d66;font-weight: normal;}
.page-title span{display: block;height:25px;float:left;padding:0px 10px;margin-right: 10px; text-align: center;color: #fff; background: #4db358;}
.page-title a{display: block;height:25px;float:left;padding:0px 10px;text-align: center;color: #656d66;}
.post{margin: 10px;border: 1px dotted #ccc;padding: 10px;color: gray}
.entry-content{margin: 10px;border: 1px dotted #ccc;padding: 10px;color: gray}
.entry-content a{color: #009999}
.pagination{margin: 10px;}
.footer{text-align: right;color: #979797;padding-top: 10px;padding-right: 10px;}